.menu {
	margin-bottom: 25px;
}

.app {
	margin-top: 25px;
}

.pagina {
	border:solid 1px #DFDFDF;
	padding:25px !important;
}

li.list-group-item.active {
	background-color: #fff !important;
	border-color: #17a2b8 !important;
    border-left:solid 10px #17a2b8 !important;
}

li a {
	color: #212529;
}

li a:hover {
	text-decoration: none;
}


